body {
  background-color: rgb(236, 107, 215);
  color: aliceblue;
}

h1 {
  background-color: cadetblue;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  width: auto;
  -webkit-text-stroke-color: blue;
  -webkit-text-stroke-width: 2px;
}

h2 {
  background-color: rgb(218, 35, 35);
  color: rgb(173, 121, 223);
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 15px;
  border-top: 30px;
  box-shadow: -5px 0px 2px rgb(17, 204, 17);
}

.movie_title {
  background-color: rgb(44, 33, 194);
  color: rgb(89, 247, 41);
  border-radius: 10px;
  box-shadow: none;
}
h3 {
  color: rgb(20, 37, 109);
  font-size: larger;
  padding-bottom: 10px;
}

audio {
  width: 100%;
  box-shadow: 8px -10px 10px rgb(127, 247, 58);
  border-radius: 30px;
  padding-bottom: 10px;
}

video {
  border-radius: 15px;
  border: 2px solid rgb(247, 5, 5);
  box-shadow: 0 5px 30px red;
}

p {
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 15px;
  margin: auto;
  border-top: 30px;
  border-left: 10px;
  box-shadow: -5px 0px 2px rgb(17, 204, 17);
}

img {
  border-radius: 15px;
  border: 2px solid rgb(247, 5, 5);
  box-shadow: 0 5px 30px red;
  padding: auto;
}
